<div  ng-controller="todoDetailController">
				<h1>Todo Task Detail</h1>
        <div>
  <h5>Todo Id</h5>
  {{todo.id}}
{{todoId}}
  <h5>Todo Name</h5>
  {{todo.todoText}}

  <h5>done</h5>
  {{todo.done}}
</div>
</div>
